<!DOCTYPE html>
<html>

<head>
    <!-- <script data-ad-client="ca-pub-4017472357320835" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <meta name="keywords"
        content="astrology,astrology in hindi,astrology app,astrology meaning in hindi,astrology and horoscope,astrology by date of birth,astrology by date of birth in hindi,astrology by name,astrology chart,astrology daily horoscope,future prediction,prediction,lifestyle,astrology explained,blogs,earn,post blogs,astrology blogs,yugas, golden age, old era, happy life" />
    <meta name="description" content="We all are living in an age that is supposed to be the last Yuga, Kali Yuga. It is said
        that there are four different yugas." />
    <link rel="icon" href="./images/lg.ico" type="image/x-icon">
    <title>
        Astrodrishti - The Golden Age of Kali Yuga
    </title>
</head>

<body>
    <header class="text-gray-500 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="./images/lg.ico">
                <a href="index.html"><span class="ml-3 text-xl">AstroDrishti</span></a>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700    flex flex-wrap items-center text-base justify-center">
                <a href="ui.html" class="mr-5 hover:text-white">App UI</a>
                <!-- <a href="freeanalysis.html" class="mr-5 hover:text-white">Free Analysis</a> -->
                <a href="blg.html" class="mr-5 hover:text-white">Blogs</a>
                <a href="services.html" class="mr-5 hover:text-white">Services</a>
                <a href="sp.html" class="mr-5 hover:text-white">Support Us</a>
            </nav>
            <a href="astrodrishti.apk" download><button
                    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Download
                    App
                </button></a>
        </div>
    </header>
    <div class="max-w-screen-xl mx-auto">


        <main class="mt-10">

            <div class="mb-4 md:mb-0 w-full max-w-screen-md mx-auto relative" style="height: 24em;">
                <div class="absolute left-0 bottom-0 w-full h-full z-10"
                    style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));"></div>
                <img src="https://source.unsplash.com/720x480/?yuga?olera?gods?india"
                    class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
                <div class="p-4 absolute bottom-0 left-0 z-20">
                    <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
                        The Golden Age of Kali Yuga
                    </h2>
                    <div class="flex mt-3">
                        <img src="./images/vg.png" class="h-10 w-10 rounded-full mr-2 object-cover" />
                        <div>
                            <p class="font-semibold text-gray-200 text-sm"> Vaibhav Gautam </p>
                            <p class="font-semibold text-gray-400 text-xs"> October 2020 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-md mx-auto text-lg leading-relaxed">
                <p class="pb-6">We all are living in an age that is supposed to be the last Yuga, Kali Yuga. It is said
                    that there are four different yugas. The First Yuga was Satya yuga. During this yuga the morals were
                    high and everyone respected each other. People had pure souls and there was harmony and peace
                    everywhere. People in this yuga performed good deeds and there were no such things as hate,
                    jealousy, greed, anger, deceit and evil.</p>

                <p class="pb-6">In this era, the Supreme Lord, Sri Maha Vishnu, took the first four of his avatars,
                    namely, Matsya (the Fish), Kurma (the Tortoise), Varaha (the Boar) and Narasimha (the Half-Man
                    Half-Lion form). The Treta Yuga is the second of four Yugas and it's beginning marks the ending of
                    Satya Yuga.This is the era when Lord Vishnu took avatars like Vamana Avatara, Parshuram Avatara and
                    Lord Rama Avatara. As evident from the stories we know related to these avatars, there was some evil
                    introduced in this era.</p>

                <p class="pb-6">There was also a decline in Dharma which worsened in the next Yuga, Dwapara Yuga. This
                    Yuga is the third Yuga and Krishna Avatar of Lord Vishnu physically existed in this Yuga. This Yuga
                    saw a very steep decline in Dharma and Morals and there are many stories of this yuga that supports
                    this fact. It is also believed that the caste system came into existence during this Yuga and
                    discrimination between people started.Higher class people gave no attention and support to lower
                    caste people and they were often treated in bad ways. Violence also emerged in this age and people
                    started having a competitive nature. Greed and Jealousy were common among people. Events tat took
                    place during Mahabharata clearly shows that how a war started within a family and how it took so
                    many lives. All the acts of injustice that took place during the end of Dwapara Yuga brought down
                    the level of Dharma. Now you might have noticed a pattern here. With each age the level of Dharma
                    decreases and now this is the final age, Kali Yuga.</p>

                <div class="border-l-4 border-gray-500 pl-4 mb-6 italic rounded">
                    “The magic of autumn has seized the countryside; now that the sun isn't ripening anything it shines
                    for the sake of the golden age; for the sake of Eden; to please the moon for all I know.”
                </div>

                <p class="pb-6">This is the worst of them all. It is believed that when Lord Krishna left his Physical
                    Form in Dwapara Yuga, Kali Yuga started. I don't have to tell you much about this Yuga as we all are
                    experiencing everything going on in this Yuga both physically and mentally. There are acts of
                    violence taking place very frequently. Every day we read newspapers or watch news channels on our
                    TVs, we come to realize that the world is getting more and more cruel. </p>

                <h2 class="text-2xl text-gray-800 font-semibold mb-4 mt-4">At last !
                </h2>

                <p class="pb-6">At the end of this Yuga, the Purana states, Kalki would return to battle with the dark
                    forces on earth. And this period is believed to be the Golden Age of Kali Yuga. After this,
                    situation will get even more worse. People will commit evil deeds, knowledge will be lost and morals
                    will perish. The First 10,000 years are said to be the Golden age of Kali Yuga and at least 4,000
                    years have already passed. </p>

                <p class="pb-6">We all should perform good deeds and should never indulge ourselves in wrong activities.
                    This way we can make sure that we will get rid of continuous life cycle and will finally attain
                    Moksha. Many people will agree and may disagree. But that is the beauty of it, no one can disagree
                    that we should perform good deeds, help others, bring positivity and stay away from bad company and
                    influence. Whether you’re a believer or not, you will surely see the importance of these Yugas and
                    what they teach us.</p>
            </div>
        </main>
    </div>
    <footer class="text-gray-500 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <img src="./images/lg.ico">
            <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">©
                2020 AstroDrishti —
                <a href="https://www.instagram.com/astrodrishti/" class="text-gray-500 ml-1" target="_blank"
                    rel="noopener noreferrer">@AstroDrishti-IG</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-600">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>

                <a class="ml-3 text-gray-600">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-600">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>