<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./../../../static/Apps_Logos/astro.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <title>Pending Astrologers</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-weight: bold; font-size:30px;">
          <img src="./../../static/Apps_Logos/astro.png" width="50" height="50" class="d-inline-block align-top" alt="">
         AstroDrishti
        </a>
      </nav>
    <div class="row" style="margin: 50px;">
        {% for i in pendings %}    
        <div class="card" style="width: 18rem; margin:20px">
            <img height="300" width="300" src="{{i['Pic']}}"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h3>{{i["Name"]}}</h3>
                <p class="card-text">{{i["mobile"]}}.</p>
                <p class="card-text">{{i["Disc"]}}.</p>                
                <form method="post" action="/verify/astrologer">
                    <input hidden type="text" name = "email" value="{{i['email']}}" >
                    <button type="submit" name='{{i["astro_id"]}}' class="btn btn-success">Verify</button>
                </form>
                
            </div>
        </div>
        {% endfor %}
    </div>
   


    <!-- <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
    </div> -->
</body>

</html>